@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_layoutCursos";
    ViewData["Title"] = "Crear Cursos";
    ViewData["Style"] = "~/css/CrearCrusos.css";
    ViewData["Script"] = "";
}

<div id="CrearCurso" class="container-xl">
    <header>
        <h1>Configuracion del Examen</h1>
    </header>

    <form asp-action="CreateMaterial" method="post" enctype="multipart/form-data">
        <div class="addComponents">
            <h2>
                Agregar Componentes
            </h2>
            <div class="addComponentList">
                <div class="addComponent">
                    <i class="fi fi-rr-text"></i>
                    <p>Sección</p>
                </div>
                <div class="addComponent">
                    <i class="fi fi-rr-screen-play"></i>
                    <p>Respuesta Unica</p>
                </div>
                <div class="addComponent">
                    <i class="fi fi-rr-folder-upload"></i>
                    <p>Selección Multiple</p>
                </div>
                @* <div>
                    <i class="fi fi-br-screen-play"></i>
                    <span>Sección</span>
                </div> *@
            </div>
        </div>

        <footer class="footer">
            <div class="botonDiv">
                <button class="btnPage" type="button">Anterior</button>
                <button class="btnDesactivado" type="submit">Siguiente</button>
            </div>
            <div class="LinkDiv">
                <a asp-action="Create" asp-controller="CursosAdmin">Curso</a> -
                <a asp-action="CreateMaterial" asp-controller="CursosAdmin">Material</a> -
                <a class="Select" asp-action="CreateTest" asp-controller="CursosAdmin">Examen</a>
            </div>
        </footer>
    </form>
</div>