@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Crear Cursos";
    ViewData["Style"] = "~/css/CrearCursos.css";
    ViewData["Script"] = "~/css/CursosAdmin.css";
}

<div id="CrearCurso">
    Crear Cursos
</div>