@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_layoutCursos";
    ViewData["Title"] = "Crear Cursos";
    ViewData["Style"] = "~/css/CrearCrusos.css";
    ViewData["Script"] = "";
}

<div id="CrearCurso" class="container-xl">
    <header>
        <h1>Configuracion del Examen</h1>
    </header>
   @model CrearPreguntasViewModel   

    <form asp-action="CreateTest" method="post" enctype="multipart/form-data" id="fromPreguntas">

        <main id="contenedorSecciones">

        </main>

        <div class="addComponent">
            <h4>
                Agregar Preguntas
            </h4>
            <div class="addComponentList">
                <button type="button" class="addComponentGroup" onclick="">
                    <i class="fi fi-rr-message-question"></i>
                    <p>Selección Unica</p>
                </button>
                <button type="button" class="addComponentGroup" onclick="">
                    <i class="fi fi-rr-messages-question"></i>
                    <p>Selección Multiple</p>
                </button>
            </div>
        </div>

        <footer class="footer">
            <div class="botonDiv">
                <button class="btnPage" type="button">Anterior</button>
                <button class="btnDesactivado" type="submit">Siguiente</button>
            </div>
            <div class="LinkDiv">
                <a asp-action="Create" asp-controller="CursosAdmin">Curso</a> -
                <a asp-action="CreateMaterial" asp-controller="CursosAdmin">Material</a> -
                <a class="Select" asp-action="CreateTest" asp-controller="CursosAdmin">Examen</a>
            </div>
        </footer>
    </form>
</div>