html{
    overflow-x: hidden;
}
#formCurso {
    display: flex;
    flex-direction: column;
}

#CrearCurso {
    position: relative;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
    height: calc(100vh - 192px);
    overflow: hidden;
    overflow-y: auto;
}

.myContener {
    width: 100%;
    border-radius: 10px;
    border: solid 4px RGBA(40, 134, 222, 1);
    padding: 10px 15px;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    background-color: RGBA(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

    /*      Header      */

#CrearCurso header {
    border: solid 4px RGBA(40, 134, 222, 1);
    border-radius: 10px;
    background-color: RGBA(40, 134, 222, 1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 10
}

        #CrearCurso header h1 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 5px;
            padding: 0;
        }

    /*      Form        */
    #CrearCurso form {
    }

/*      Animacion slide y control de seccio visible     */
#wizardSlides {
    display: flex;
    gap: 30px;
    width: calc(300vw - 30px);
    transition: transform 0.6s ease-in-out;

}

.wizard-step {
    padding: 10px 20px 30px;
    height: calc(100vh - 192px);
    overflow: hidden;
}

    .wizard-step.active {
        max-height: unset;
        height: 100%
    }

    /*------    Material    ------*/
    .addSeccion {
    background-color: rgb(242, 242, 242);
    border: 3px solid rgb(177, 177, 177);
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 0 0 10px 0;
    text-align: center;
    padding: 10px;
}

.addSeccionGroup {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 130px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    margin: auto;
    transition: all ease 0.2s;
    border: none;
}

    .addSeccionGroup i {
        font-size: 2rem;
        margin: 0 0 0 0;
        padding: 0;
    }

    .addSeccionGroup p {
        margin: 0;
        padding: 0;
    }

.addSeccion .addSeccionGroup:hover {
    background-color: rgb(226, 226, 226);
    transform: scale(1.05);
}

section {
    background-color: white;
    border: 3.5px solid rgb(152, 201, 252);
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin: 0 0 20px 0;
    padding: 10px 20px;
}

.addComponent {
    background-color: rgb(242, 242, 242);
    border: 3px solid rgb(177, 177, 177);
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 20px 0 10px 0;
    text-align: center;
    padding: 0 0 8px 0;
}

    .addComponent h4 {
        background-color: rgb(226, 226, 226);
        padding: 0 0 5px 0;
    }

.addComponentList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.addComponentGroup {
    display: flex;
    height: 30px;
    width: auto;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    transition: all ease 0.2s;
    border: none;
    gap: 5px
}

    .addComponentGroup i {
        font-size: 1.5rem;
        margin: 0 0 -5px 0;
        padding: 0;
    }

    .addComponentGroup p {
        margin: 0;
        padding: 0;
    }

    .addComponentGroup:hover {
        background-color: rgb(226, 226, 226);
        transform: scale(1.05);
    }

    section label {
        text-align: left;
        color: darkgray
    }

.TituloComponent {
    font-size: 1.5rem;
    font-weight: bold
}
.VideoPreviewDiv{
    display: flex;

}

.VideoPreview {
    border-radius: 7px;
    border: 3.5px solid rgb(152, 201, 252);
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    width: 560px;
    height: 315px;
}

.topHeader {
    display: flex;
    justify-content: space-between;
}
    .topHeader button {
        background-color: transparent;
            border: none
    }
    .topHeader i {
        color: red;
        transition: all 0.2s ease;
        cursor: pointer;
        font-size: 1.2rem;
    }
    .topHeader i:hover {
        color: darkred;
    }
/*      Footer      */
#formCurso .footer {
    padding: 10px 20px;
    min-height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formCurso .botonDiv {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

#formCurso .btnPage, #formCurso .btnDesactivado {
    background-color: RGBA(40, 134, 222, 1);
    height: 30px;
    width: 100px;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.15rem;
    border: none;
}

    #formCurso .btnPage:hover {
        background-color: RGBA(15, 84, 140, 1);
    }

#formCurso .btnDesactivado {
    background-color: darkgray;
    cursor: default;
    opacity: 60%;
}

#formCurso .LinkDiv {
    margin: 0 auto;
    width: 200px;
}

    #formCurso .LinkDiv a {
        text-decoration: none;
        color: RGBA(40, 134, 222, 1);
    }

        #formCurso .LinkDiv a:hover {
            color: RGBA(15, 84, 140, 1);
            text-decoration: underline;
        }

        #formCurso .LinkDiv a.Select {
            font-weight: bold;
            text-decoration: underline;
        }
