#CrearCurso {
    width: 100%;
    border-radius: 10px;
    border: solid 4px RGBA(40, 134, 222, 1);
    padding: 0;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    background-color: RGBA(180, 214, 250, 0.5)
}

/*      Header      */

    #CrearCurso header {
        background-color: RGBA(40, 134, 222, 1);
        color: white;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }

        #CrearCurso header h1 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 0;
            padding: 0;
        }

/*      Form        */
#CrearCurso form {
    padding: 0 20px;
}


/*      Footer      */
    #CrearCurso footer {
        padding: 10px 0;
    }

    #CrearCurso .botonDiv {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: space-between;
    }

    #CrearCurso .btnPage, #CrearCurso .btnDesactivado {
        background-color: RGBA(40, 134, 222, 1);
        height: 30px;
        width: 100px;
        color: white;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.15rem;
        border: none;
    }

        #CrearCurso .btnPage:hover {
            background-color: RGBA(15, 84, 140, 1);
        }

    #CrearCurso .btnDesactivado {
        background-color: darkgray;
        cursor: default;
        opacity: 60%;
    }

    #CrearCurso .LinkDiv {
        margin: 0 auto;
        width: 200px;
    }

        #CrearCurso .LinkDiv a {
            text-decoration: none;
            color: RGBA(40, 134, 222, 1);
        }

            #CrearCurso .LinkDiv a:hover {
                color: RGBA(15, 84, 140, 1);
                text-decoration: underline;
            }

            #CrearCurso .LinkDiv a.Select {
                font-weight: bold;
                text-decoration: underline;
            }
