

.CursoAdmin {
    width: 100%;  
    padding: 0;  
    margin-bottom: 20px;
    height: 700px;
}

    .CursoAdmin header {
        border: solid 4px RGBA(40, 134, 222, 1);
        border-radius: 10px;
        background-color: RGBA(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.3);
        color: white;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 8px;
    }

        .CursoAdmin header h1 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 5px;
            padding: 0;
        }

.acciones {
    padding:0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-form {
    flex: 1;
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    min-width: 300px;
}

    .filter-form label {
        color: white;
        font-weight: 600;
    }

    .filter-form .form-control {
        border: solid 2px RGBA(40, 134, 222, 1);
        height: 35px;
        border-radius: 7px;
    }

    .filter-form .BuscarBtn {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 35px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        border: solid 0 RGBA(180, 214, 250, 1);
        background-color: RGBA(180, 214, 250, 1)
    }

.CreateBtn {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    text-align: center;
    background-color: RGBA(15, 84, 140, 1);
    height: 40px;
    width: auto;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    gap: 5px;
}

