

.navbar {
    background-color: RGBA(15, 84, 140, 1);
    padding: 0;
    padding-left: 10px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.NavbarImg {
    position: absolute;
    top: 0px;
    right: 35px;
    height: 75px;
    margin-bottom: -15px;
    margin-top: -10px;
}

.navbar img {
    height: 100%
}

.navbar a {
    font-size: 1.2rem;
}

.navbar i {
    position: absolute;
    top: 10px;
    right: 5px;
    color: azure;
    font-size: 2rem;
    height: 50px;
    width: 40px;
    font-weight: normal;
    transition: all ease 0.2s;
}

    .navbar i:hover {
        color: RGBA(40, 134, 222, 1);
    }

.navbar .logout {
    background-color: indianred;
    color: white;
    font-size: 1rem;
    height: 30px;
    margin: auto;
    padding: 0;
    width: 100%;
}

    .navbar .logout:hover {
        background-color: red;
    }
