
html {
    font-size: 14px;
}

html, body {
    height: 100%;
    margin: 0;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  /*position: relative;*/
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient( -45deg, rgba(12, 59, 94, 1) 0%, rgba(40, 134, 222, 1) 50%, rgba(12, 59, 94, 1) 0% );
    background-attachment: fixed; /* hace que cubra incluso al hacer scroll */
    background-size: cover;
}
.myFooter {
    background-color: rgba(15, 84, 140, 1);
    color: white;
    padding: 10px;
    border: none;
    margin: 0;
    p
{
    margin: auto;
    text-align: center;
    color: white;
}
}

i {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.hidden {
    display: none;
}