html {
  font-size: 14px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
<<<<<<< HEAD
    overflow-y: auto;
=======
>>>>>>> jeshua_dev
}

.PrimaryBtn {
    background-color: RGBA(40, 134, 222, 1);
    color: white;
    border: 3px solid RGBA(40, 134, 222, 1);
    border-radius: 8px;
    height: 40px;
    width: 50%;
    margin: 15px auto 0 auto;
    transition: all ease 0.2s;
    font-weight: bold;
}

    .PrimaryBtn:hover {
        background-color: RGBA(15, 84, 140, 1);
    }
<<<<<<< HEAD
=======

>>>>>>> jeshua_dev
