html {
  font-size: 14px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  /*position: relative;*/
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.myFooter {
    background-color: rgba(15, 84, 140, 1);
    color: white;
    padding: 10px;
    p
{
    margin: auto;
    text-align: center;
    color: white;
}
}

i {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}
