@model TechShop.Web.Models.ErrorViewModel

<svg style="display: none;">
    <symbol id="keyhole" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 26.458333 26.458334">
        <g transform="translate(0 -270.542)">
            <circle cx="13.229" cy="279.141" r="8.599" fill="#f1eedb" />
            <path d="M10.516 283.271h5.427c1.164 0 1.768.861 2.102 1.802l3.59 10.125c.334.94-.937 1.802-2.102 1.802H6.926c-1.165 0-2.437-.861-2.103-1.802l3.59-10.125c.334-.94.938-1.802 2.103-1.802z" fill="#f1eedb" />
            <circle cx="13.229" cy="279.141" r="6.06" fill="#282b24" />
            <path d="M11.502 283.76h3.455c.741 0 1.126.733 1.338 1.534l2.286 8.614c.213.8-.597 1.534-1.338 1.534H9.216c-.742 0-1.551-.733-1.339-1.534l2.286-8.614c.212-.8.597-1.534 1.339-1.534z" fill="#282b24" />
        </g>
    </symbol>
    <symbol id="key" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 26.458333 26.458334">
        <circle cx="13.229" cy="279.141" r="8.599" transform="matrix(0 -.76923 .7499 0 -202.882 23.405)" fill="#f1eedb" />
        <circle cx="13.229" cy="279.141" r="8.599" transform="matrix(0 -.5887 .57392 0 -153.756 21.017)" fill="#282b24" />
        <path d="M12.03 12.13h14.428v2.2H12.03z" fill="#f1eedb" />
        <path d="M18.147 12.13h2.895v6.772h-2.895zM22.113 12.13h2.716v5.065h-2.716z" fill="#f1eedb" />
    </symbol>
    <symbol id="ghost" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 26.458333 26.458334">
        <g transform="translate(0 -270.542)">
            <path d="M4.63 279.293c0-4.833 3.85-8.751 8.6-8.751 4.748 0 8.598 3.918 8.598 8.75H13.23zM4.725 279.293h16.914c.052 0 .19.043.19.096l-.095 14.329c0 .026-.011.05-.028.068a.093.093 0 0 1-.067.028c-.881 0-1.235-1.68-2.114-1.616-.995.072-1.12 2.082-2.114 2.154-.88.064-1.233-1.615-2.115-1.615-.881 0-1.233 1.615-2.114 1.615-.881 0-1.233-1.615-2.114-1.615-.882 0-1.236 1.679-2.115 1.615-.994-.072-1.12-2.082-2.114-2.154-.88-.063-1.41 1.077-2.114 1.616-.021.016-.05-.01-.067-.028a.097.097 0 0 1-.028-.068v-14.33c0-.052.042-.095.095-.095z" fill="#f1eedb" />
            <path d="M12 283.5c.8-1 2.4-1 3.2 0" stroke="#282b24" stroke-width="0.7" fill="none" stroke-linecap="round" />
            <g fill="#282b24" transform="matrix(1 0 0 1.0177 .283 -5.653)">
                <ellipse cx="10.205" cy="278.668" rx="1.231" ry="1.181" />
                <ellipse cx="16.159" cy="278.668" rx="1.231" ry="1.181" />
                <ellipse cx="10.205" cy="280.936" rx=".853" ry=".331" opacity=".5" />
                <ellipse cx="16.159" cy="280.936" rx=".853" ry=".331" opacity=".5" />
            </g>
            <ellipse cx="13.229" cy="296.386" rx="8.082" ry=".614" opacity=".1" fill="#f1eedb" />
        </g>
    </symbol>
</svg>

<div id="error-overlay">
    <div class="error-container">
        <h1>@Model.ErrorCode</h1>
        <p>@Model.Message</p>

        <button type="button"
                class="btn-reinicio"
                onclick="window.history.back();">
            Volver
        </button>

        <svg class="keyhole"><use href="#keyhole" /></svg>
    </div>

    <svg class="key"><use href="#key" /></svg>

    <div class="ghost">
        <svg class="ghost"><use href="#ghost" /></svg>
    </div>
</div>