@* <footer class="footer text-center py-3 border-top">
    <div class="container">
        <small>&copy; @DateTime.Now.Year TechShop Academy — Todos los derechos reservados.</small>
    </div>
</footer> *@
<footer class="myFooter border-top text-muted">
    <p>
        &copy; 2025 - <span style="font-weight: bold;">TechShop International</span> - Todos los derechos reservados
    </p>
</footer>